
body {
	background-color: grey;
}

h1 {
	text-align: center;
	font-size: 30px;
}

h2 {
	text-align: center;
	font-size: 24px;
}

header {
	width: 100%;
	text-align: center;
}

p {
	text-align: center;
}

.wrapper {
	width: 95%;
	margin: 0 auto;
	background-color: blue;

}

body {
	font-family: "Comic Sans MS", cursive, sans-serif;
	color: #522219;
}

.smaller {
	width: 98%;
}


.lastp {
		background-color: white;
		width: 80%;
		margin: 0 auto;
		margin-bottom: 20px;
}

h1 {
	text-align: center;
	font-size: 30px;
}

body {
	font-family: "Comic Sans MS", cursive, sans-serif;
	color: #522219;
}

footer {
	text-align: center;
	background-color: black;
}
